@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Montserrat:wght@200;300;400;500;700&display=swap');

body,
html {
  margin: auto;
  max-width: 1920px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  padding: 1.8rem 14%;
  background-color: #FFFFFF;
}

.navbar .blank-space {
  flex: 1;
}

.navbar .brand {
  flex: 3;
  gap: 8px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.navbar .brand .brand-link {
  margin: auto;
}

.navbar .brand .brand-title {
  font-size: 1.15rem;
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.navbar .nav-links {
  flex: 1;
  gap: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.header .banner-section {
  flex: 1;
  display: flex;
  cursor: pointer;
  background: red;
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.header .banner-section .banner-actions {
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.header .banner-section .banner-actions .banner-pre-title {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.header .banner-section .banner-actions .banner-action-title {
  font-size: 3rem;
  font-weight: 400;
  font-family: 'Cinzel', serif;
}

.header .banner-section .banner-actions .banner-action {
  gap: 0.5rem;
  display: flex;
  cursor: pointer;
  font-size: 1.1rem;
  margin-top: 15px;
  font-weight: 700;
  align-items: center;
  padding: 0.8rem 1.4rem;
  letter-spacing: 0.04em;
  background: transparent;
  text-transform: uppercase;
  border: 0.010rem solid #131313;
}

.header .banner-section .banner-source {
  width: 100%;
  height: auto;
}

.article {}


.article .article-section {
  display: flex;
  padding: 4rem 14%;
  background-color: #121212;
}

.article .article-text {
  flex: 1;
  gap: 30px;
  padding: 0 6%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.article .article-text p {
  color: #FFFFFF;
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.article .article-text h2 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.article .videos {
  gap: 2.5rem;
  display: flex;
  padding: 5rem 14%;
}

.article .videos .video-card {
  /* height: 40rem; */

  flex: 1;
  display: flex;
  color: #FFFFFF;
  cursor: pointer;
  position: relative;
  align-items: center;
  flex-direction: column;
  letter-spacing: 0.04rem;
  justify-content: center;

  background-color: #FFFFFF;
}

.article .videos .video-card button {
  border: none;
  gap: 0.75rem;
  display: flex;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: bold;
  position: absolute;
  align-items: center;
  background: transparent;
  text-transform: uppercase;
}

.article .gallery-container {
  /* padding-left: 14%; */

  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #F5F5F5;
}

.article .gallery-container .slide-container {
  /* padding-right: 14%; */
  width: 100%;
}

.article .gallery-container .slide-container .swiper {
  margin-left: 14%;
  padding-right: 14rem;
}

.article .gallery-container .slide-container .swiper .swiper-wrapper {
  
}

.article .gallery-container .slide-container .swiper .swiper-wrapper .swiper-slide {
  width: max-content;
}

.article .gallery-container .slide-container .swiper .swiper-wrapper .image-card img {
  width: 100%;
  max-height: 600px;
}

.article .gallery-container .slide-container .swiper .swiper-wrapper .image-card.play-video {
  cursor: pointer;
}

.article .gallery-container.wedding {
  background-color: #FFFFFF;
}

.article .instagram-gallery {
  background-color: #121212;
}


.article .instagram-gallery {
  gap: 3rem;
  display: flex;
  padding-top: 6rem;
  padding-left: 14%;
  padding-right: 14%;
  padding-bottom: 4rem;
  flex-direction: column;
}

.article .instagram-gallery .content {
  gap: 2rem;
  display: flex;
  align-items: center;
}

.article .instagram-gallery .content .flag svg {
  height: 40vmin;
}

.article .instagram-gallery .content iframe {
  flex: 1;
}

.article .instagram-gallery .pics-gallery {
  gap: 10px;
  margin: auto;
  height: 100px;
  display: flex;
  background:red;
  max-width: 1144px;
}

.article .instagram-gallery .pics-gallery img {
  flex: 4;
  /* width: 25%;
  height: 50px; */
  border: 1px solid white;
}

.article .instagram-gallery .instagram-action {
  color: #FFFFFF;
  margin: auto;
  opacity: 0.6;
  display: block;
  font-size: 12px;
  font-weight: bold;
  width: max-content;
  padding: 12px 30px;
  letter-spacing: 0.09rem;
  border: 1px solid #FFFFFF;
  text-transform: uppercase;
}

.article .instagram-gallery .instagram-action:hover {
  opacity: 1;
}

.footer {
  display: flex;
  flex-direction: column;
}

.features-container {
  gap: 5rem;
  display: flex;
  padding: 6.5rem 14%;
}

.feature {
  flex: 1;
  gap: 1rem;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.feature h3 {
  font-size: 1.5rem;
  font-family: 'Cinzel', serif;
}

.feature p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: uppercase;
}

.footer-rights {
  font-size: 14px;
  padding: 4.5rem 14%;
  border-top: 1px solid #DDDDDD;
}

.dimmer {
  top: 0;
  left: 0;
  display: flex;  
  z-index: 50;
  width: 100vw;
  height: 100vh;
  position: fixed;
  align-items: center;
  justify-content: center;
  background: rgba(15, 15, 15, .95);
}

.dimmer .dimmer-video-modal {
  flex: 1;
  gap: 1rem;
  display: flex;
  padding-left: 14%;
  width: max-content;
  padding-right: 14%;
  flex-flow: row-reverse;
  align-items: flex-start;
  justify-content: center;
}

.dimmer .dimmer-video-modal video {
  width: auto;
  height: 85vh;
}

.button-close {
  cursor: pointer;
  color: #FFFFFF;
  font-weight: bold;
  background: transparent;
  text-transform: uppercase;
  border: none;
}

.hidden {
  display: none;
}